/* Padding */
.pad-4 {
    padding: 4px;
}

.pad-8 {
    padding: 8px
}

.pad-10 {
    padding: 10px;
}

.pad-12 {
    padding: 12px;
}

.pad-16 {
    padding: 16px;
}

.pad-20 {
    padding: 20px;
}

.pad-32 {
    padding: 32px;
}

.pad-0-4 {
    padding: 0 4px;
}

.pad-0-8 {
    padding: 0 8px;
}

.pad-0-12 {
    padding: 0 12px;
}

.pad-0-16 {
    padding: 0 16px;
}

.pad-0-20 {
    padding: 0 20px;
}

.pad-0-32 {
    padding: 0 32px;
}

.pad-0-36 {
    padding: 0 36px;
}

.pad-0-40 {
    padding: 0 40px;
}

.pad-4-0 {
    padding: 4px 0;
}

.pad-8-0 {
    padding: 8px 0;
}

.pad-16-0 {
    padding: 16px 0;
}

.pad-20-0 {
    padding: 20px 0;
}

.pad-40-0 {
    padding: 40px 0;
}

.pad-8-12 {
    padding: 8px 12px;
}

.pad-8-16 {
    padding: 8px 16px;
}

.pad-8-20 {
    padding: 8px 20px;
}

.pad-8-24 {
    padding: 8px 24px;
}

.pad-8-32 {
    padding: 8px 32px;
}

.pad-12-8 {
    padding: 12px 8px;
}

.pad-12-16 {
    padding: 12px 16px;
}

.pad-16-32 {
    padding: 16px 32px;
}

.pad-28-52 {
    padding: 28px 52px;
}

.pad-28-64 {
    padding: 28px 64px;
}