/* Tablet and Mobile */
@media (max-width: 1023px) {
  .hide-on-tablet-mobile {
    display: none;
  }

  .header {
    z-index: 3;
  }

  .header__search-section {
    height: auto;
  }

  .header__cart-portal {
    position: fixed;
    top: 80px;
    right: 0;
    width: 100%;
  }

  .header__cart-portal::before {
    display: none;
  }

  .header__cart-list-body {
    height: 25vh;
  }

  .header__sort-bar {
    display: block;
  }

  .app__container {
    margin-top: 0;
    padding-top: 0;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }

  .header__cart {
    padding: 28px 36px;
  }

  .header__cart-portal {
    padding: 0 45px;
  }
}

/* Mobile */
@media (max-width: 739px) {
  .hide-on-mobile {
    display: none;
  }

  .header-mobile__account {
    display: block;
  }

  .header__search-section {
    margin-left: 12px;
  }

  .header__cart {
    padding: 28px;
  }

  .header-mobile__account-name {
    font-size: 1.8rem;
  }

  .header__search-bar {
    background-color: transparent;
  }

  .header__search-bar-input {
    display: none;
  }

  .header__search-bar-icon {
    background-color: transparent;
    padding: 0;
  }

  .app__container {
    padding-left: 10px;
    padding-right: 10px;
  }
  
}